.avatar{
    width: 100px;
    height: 100px;
}

.container{
    margin-top: 50px;
}

.btn{
    font-size: 20px;
}

.nav {
    font-size: 1rem;
}

.btn_set{
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #007bff;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s
    cursor: pointer;
    border: none;
}

.btn_set:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn_set:hover {
    text-decoration: none;
}

.form-check{
    font-size: 22px;
}

.nav:active{
    outline:none;
}
.nav:focus{
    outline:none;
}

.info{
    display: flex;
    justify-content: start;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 20px;
}