.body{
    overflow: auto;
    width: 400px;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
}
.navbar{
    padding: .5rem 1rem;
}
.form-check{
    font-size: 30px;
}

.img_table{
    width: 100%;
    height: 100%;
}

.nav{
    font-size:1.3rem;
}
.joy{
    width: 100%;
}
.nav:active{
    outline:none;
}
.nav:focus{
    outline:none;
}
.set_cam{
    display: flex;
    margin: 20px 0;
}
.view{
    display: block;
    border: 1px solid;
    border-radius: 4px;
}
.view_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}
.btn {
    font-size: 20px;
}

.curr_preset{
    padding: 0 10px;
    margin-right: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
}

.preset{
    padding: 0 10px;
    margin-right: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
}

.preset:hover{
    color: #fff;
    background-color: #007bff;
    transition: background-color .2s;
}

.table_pres{
    display: flex;
    justify-content: start;
    font-size: 20px;
}

.items_pres{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.half_table{
    display: flex;
    margin-right: 10px;
}
.item_table{
    margin-right: 10px;
}

#Butt{
    font-size: 20px;
    width: 120px;
}
#ButtTwo{
    margin: 10px;
    font-size: 20px;
    width: 120px;
}
#ButtThree{
    font-size: 20px;
    width: 120px;
}

.table{
    margin-bottom: 0px;
  }
.table.table-bordered > thead > tr > th{
    border:1px solid #007bff;
    text-align: center;
}
.table.table-bordered > tbody > tr > td{
    border:1px solid #007bff;
    text-align: center;
}
.table.table-bordered > tbody > tr > th{
    border:1px solid #007bff;
    text-align: center;
}
tbody tr:hover {
    background: #5da7f7;
    color: #fff;
}

.control{
    width: 30%;
    display:flex;
    flex-direction: column;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 5px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
    margin-top: 4px;
    font-size: 10px;
	content: "▼"
}

th.sorted[data-order="1"]::after {
    margin-top: 4px;
    font-size: 10px;
	content: "▲"
}
.page-item{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.paginations{
    display: flex;
    flex-direction: column;
}

span{
    padding: 2px;
    font-weight: normal;
}

@media (max-width: 5600px){
    .allow{
        width: 180px;
        height: 180px;
    }
    #allows{
        position: absolute;
        right: 2%;
        top: 30%;
    }
    #archive{
        font-size: 30px;
    }
    .navbar{
        font-size: 30px;
    }
    .btn{
        font-size: 20px;
    }
    .view_btn{

    }
    .control{

    }
    .view{
        margin-right: 20px;
    }
}
@media (max-width: 4000px) {
}

@media (max-width: 3000px){
    .allow{
        width: 110px;
        height: 110px;
    }
    #allows{
        position: absolute;
        right: 0;
        top: 33%;
    }
    #archive{

    }
    img{
    .navbar{
        font-size: 20px;
    }
    .btn{
        font-size: 20px;
    }
    .view_btn{

    }
    .control{

    }
    .view{
        margin-right: 20px;
    }
    .control{

    }
}
@media (max-width: 1600px){
    .allow{
        width: 64px;
        height: 64px;
    }
    #allows{
        position: absolute;
        right: 0;
        top: 33%;
    }
    #archive{
        font-size: 15px;
    }
    .navbar{
        font-size: 15px;
    }
    .btn{
        font-size: 20px;
    }
    .view_btn{

    }
    .control{

    }
    .view{
        margin-right: 20px;
    }
}
@media (orientation: portrait) and (max-width: 1180px){
    .allow{
        width: 60px;
        height: 60px;
    }
    #allows{
        position: absolute;
        right: 5%;
        top: 56%;
    }
    #archive{
    }
    .set_cam{
        flex-direction: column;
    }
    .view{
        margin: 0;
    }
    .view_btn{
        flex-direction: row;
        justify-content: space-between;
    }
    .nav{
        font-size:1rem;
    }
    .form-check{
        font-size: 22px;
    }
    .control{
        width: 100%;
        margin-top: 10px;
    }
    #Butt{
        margin-top: 0;
    }
    #ButtTwo{

    }
    .joy{

    }
}

@media (orientation: landscape) and (max-width: 920px){
    .allow{
        width: 60px;
        height: 60px;
    }
    #allows{
        position: absolute;
        right: 2%;
        top: 50%;
    }
    #archive{
    }
    .set_cam{
        flex-direction: column;
    }
    .nav{
        font-size:1rem;
    }
    .view{
        margin: 0;
    }
    .joy{

    }
    .form-check{
        font-size: 22px;
    }
    .control{
        width: 100%;
        margin-top: 10px;
    }
    .view_btn{
        flex-direction: row;
        justify-content: space-between;
    }
    #ButtTwo{

    }
}

@media (orientation: landscape) and (max-width: 740px){
    .allow{
        width: 50px;
        height: 50px;
    }
    #allows{
        position: absolute;
        right: 0;
        top: 53%;
    }
    #archive{
    }
    .set_cam{
        flex-direction: column;
    }
    .view{
        margin: 0;
    }
    .form-check{
        font-size: 22px;
    }
    .view_btn{
        flex-direction: row;
        justify-content: space-between;
    }
    .control{
        width: 100%;
        margin-top: 10px;
    }
    .nav{
        font-size:1rem;
    }
    .joy{

    }
    #ButtTwo{

    }
    .half_table{
        display: block;
    }
    .item_table{
        margin: 0;
    }
}
@media (orientation: landscape) and (max-width: 654px){
    .allow{
        width: 40px;
        height: 40px;
    }
    #allows{
        position: absolute;
        right: 2%;
        top: 50%;
    }
    .navbar{
        font-size: 10px;
    }
    .form-check{
        font-size: 22px;
    }
    .nav{
        font-size:1rem;
    }
    .btn{
        font-size: 20px;
    }
    .set_cam{
        flex-direction: column;
    }
    .view{
        width: 100%;
        margin: 0;
    }
    .view_btn{
        flex-direction: row;
        justify-content: space-between;
    }
    .control{
        width: 100%;
        margin-top: 10px;
    }
    .joy{

    }
    #Butt{
        margin: 0;
    }
    #ButtTwo{

    }
    .half_table{
        display: block;
    }
    .item_table{
        margin: 0;
    }
}
@media (orientation: portrait) and (max-width: 700px){
    .allow{
        width: 55px;
        height: 55px;
    }
    #allows{
        position: absolute;
        right: 0;
        top: 53%;
    }
    #archive{
    }
    .form-check{
        font-size: 22px;
    }
    .nav{
        font-size:1rem;
    }
    .navbar{

        font-size: 10px;
    }
    .btn{
        font-size: 20px;
    }
    .set_cam{
        flex-direction: column;
    }
    .view{
        width: 100%;
        margin: 0;
    }
    .view_btn{
        flex-direction: row;
        justify-content: space-between;
    }
    .control{
        width: 100%;
        margin-top: 10px;
    }
    .joy{

    }
    #Butt{
        margin: 0;
    }
    #ButtTwo{

    }
    .half_table{
        display: block;
    }
    .item_table{
        margin: 0;
    }
}
@media (orientation: portrait) and (max-width: 280px){
    .allow{
        width: 40px;
        height: 40px;
    }
    #allows{
        position: absolute;
        right: -5%;
        top: 55%;
    }
    #archive{
        font-size: 10px;
    }
    nav{
        width: 113%;
        font-size: 8px;
    }
    .nav{
        font-size:1rem;
    }
    .form-check{
        font-size: 22px;
    }
    .btn{
        font-size: 20px;
    }
    .view{
        width: 100%;
        margin: 0;
    }
    .set_cam{
        flex-direction: column;
    }
    .view_btn{
        flex-direction: row;
        justify-content: space-between;
    }
    .control{
        width: 100%;
        margin-top: 10px;
    }
    .joy{

    }
    #Butt{
        margin: 0;
    }
    #ButtTwo{

    }
    .half_table{
        display: block;
    }
    .item_table{
        margin: 0;
    }
}
